*{
	margin:0px;
}

#corpo{
	position:absolute;
	background:#FFFFFF;
	background-image:url(../IMG/menu.jpg);
	background-repeat:repeat-x;
}

#logo{
	float:left;
	margin-top:68px;
	margin-left:27px;
}


#cadastro{
	width:1266px;
	height:auto;
	text-align:justify;
	padding:20px;
	margin-top:115px;
	margin-left:30px;
	margin-right:18px;
	margin-bottom:30px;
    background:#FFFFFF;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
}

#imagem{
	margin-top:90px;
	margin-left:140px;
	margin-bottom:80px;
	size:100px;
	width:250px;
	heigth:auto;
}

#texto{
	margin-left:390px;
	width:820px;
	height:auto;
	padding:20px;
}

#user{
	width:auto;
	padding-left:20px;
	margin-left:390px;
	margin-top:-235px;

}	